.square{
  background: lightblue;
  border: 2px solid gray;
  float: left;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}
.square:focus{
  outline: none;
  background: violet;
}

/* Board */
.border-row:after{
  clear: both;
  content: "";
  display: table;
}
/* Game */
.game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
/* Game Info */
ul{
  padding-left: 30px;
}
.game-info{
  margin-left: 20px;
}
.status{
  margin-bottom: 10px;
}
.container{
  background: gray;
  display: grid;
  grid: 85px 85px 85px / 85px 85px 85px;
  gap: 5px;
  margin: 50px auto;
  width: calc(3*85px + 2*5px);
  height: calc(3*85px + 2*5px);
}
.container > div {
  background-color: whitesmoke;
}
